[submodule "DialogQueue"]
	path = map/src/Personal/DialogQueue
	url = https://github.com/InsanityAI/DialogQueue.git
[submodule "ReactiveX"]
	path = map/src/Personal/ReactiveX
	url = https://github.com/InsanityAI/ReactiveX.git
[submodule "MissileSystem"]
	path = map/src/Personal/MissileSystem
	url = https://github.com/InsanityAI/MissileSystem.git
[submodule "TerrainIO"]
	path = map/src/Personal/TerrainIO
	url = https://github.com/InsanityAI/TerrainIO.git
[submodule "Cache"]
	path = map/src/Personal/Cache
	url = https://github.com/InsanityAI/Cache.git
[submodule "ChatSystem"]
	path = map/src/Personal/ChatSystem
	url = https://github.com/InsanityAI/ChatSystem.git
